* {
    padding: 0px;
    margin: 0px;
}
body{
    background: linear-gradient(white, white, rgb(179, 245, 240),white,rgb(179, 245, 240),white);
     height: 100%;
}
/*-------cabecera--------*/
.cabecera{
    overflow: hidden;
    background-color: rgba(224, 255, 255, 0.555);

}
.logo img {
    float: left;
    width: 10%;
    padding: 1%;
    margin-bottom:5px;
}
.menu {
    float: right;
    overflow: hidden;
    font-size: 1em;
    margin-top: 50px;
    margin-right: 15px;
  
}

.enlaces a {
    padding: 4px;
    font-size: 1.5em;
    color:burlywood;
    text-shadow: -1px 0 white, 0 1px black,
    1px 0  black, 0 -1px  white;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
}
.enlaces a:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .8s;
}

.enlaces a:hover:after {
    width: 100%;
    background: #35e1e1e0;
}
/*------------------------Cuerpo---------------*/
.Titulo h1 {
    width: 100%;
    height: 33%;
    background-image: url(Fotos/portada1.png);
    padding-top: 190px;
    font-style: oblique;
    position: absolute;
    text-align: center;
}
.Titulo a {
    padding: 4px;
    font-size: 4em;
    color:burlywood;
    text-shadow: -1px 0 black, 0 3px black,
    3px 0  black, 0 -1px  black;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
}
.Titulo a:after {
    content: "";
    display: block;
    margin: auto;
    height: 10px;
    width: 0px;
    transition: all .8s;
}

.Titulo a:hover:after {
    width: 100%;
    background: #35e1e1e0;
    
}
 .Informacion{
    width: 40%;
    height: 600px;
    padding-top: 50px;
    margin-top: 500px;
    background-color:aliceblue;
    border-radius: 150px;
    margin-left: 50px;
    float: left;
    box-shadow: inset 0.3em 0.3em 2em rgba(231, 181, 202, 0.814),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(231, 181, 202, 0.814);
 }
 .Informacion h2{
    font-size: 2em;
    font-style: oblique;
    color:black;
    text-align: center;

 }
.Informacion h3{
    padding-top: 20px;
    font-size: 1.5em;
    text-align: center;
    color:black;
 }
 .Informacion p{
    padding-top: 1em;
    font-size: 1.5em;
    margin-left: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:grey;
    text-align: center;
 }
 .Informacion ul{
    padding-top: 1em;
    font-size: 1.5em;
    margin-left: 20%;
}
 .Informacion li{
    font-size: 1em;
    margin-left: 10%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:gray;
 }
 .Formulario{
    width: 40%;
    height: 600px;
    padding-top: 50px;
    margin-top: 500px;
    background-color:aliceblue;
    border-radius: 150px;
    margin-left: 180px;
    float: left;
    box-shadow: inset 0.3em 0.3em 2em rgba(231, 181, 202, 0.814),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(231, 181, 202, 0.814);
 }

 .Formulario fieldset{
    position: absolute; 
    width: 30%; 
    height:460px; 
    padding-top: 50px;
    margin-left: 770px;
    text-align: justify;
    font-size: 20px;
    left: 10%;
    border-color: rgba(231, 181, 202, 0.814);
    border-radius:10px;

 }
 #contacto2 {
    padding: 1em;
    border-radius: 5px;
    background-color: skyblue;
    color:black;
    margin-top: 30px;
    margin-left: 160px;
    font-size: 14px;
}
.Formulario legend{
    font-size: 1.5em;
    text-align: center;
    color:black;
    font-style: oblique;
}
.Formulario label{
    font-size: 1em;
    text-align: center;
    color:black;
    padding-left: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#cajatexto{
    padding: 0.5em;
    border-radius: 5px;
    margin-left: 20px;
}
#consulta{
    padding: 0.5em;
    border-radius: 5px;
    margin-left: 20px;
    background-color: skyblue;
    color:black;
    font-size: 14px;
}

/*--------------------pie de pagina---------------*/
.footer {
    background-color:rgba(224, 255, 255, 0.984);
    width: 100%;
    float: left;
    margin-top: 50px;



}

.AtCliente {
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 10%;
    width: 10%;
    float: left;
    padding: 1%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ProductosFooter {
    padding: 1%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    width: 10%;
    float: left;
}

.AtCliente a,
.AtCliente ul,
.ProductosFooter a,
.ProductosFooter ul,
.ProductosFooter p,
.contacto a,
.contacto ul {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style: none;
    color:gray;
    margin-left: 0.5em;
}

.ProductosFooter p {
    padding: 1%;
    margin-left: 1em;
    line-height: 1.5em;
}
.ProductosFooter img{
    width:80%;
}
.AtCliente h3,
.ProductosFooter h3,
.contacto h3 {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.AtCliente a:hover,
.ProductosFooter a:hover,
.contacto a:hover {
    text-decoration: underline;
}

.RedesSociales {
    padding: 1%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    width: 10%;
   height: 150px;
    float: left;

}

.RedesSociales li,
.RedesSociales a,
.RedesSociales h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style: none;
    margin-left: 0.5em;
}

.RedesSociales img {
    width: 55px;
}


#whatsapp,
#email {
    margin-left: 0.5em;
    width: 80px;
}

.contacto {
    padding: 1%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    width: 15%;
    float: left;
}