* {
    padding: 0px;
    margin: 0px;
}
body{
     background: linear-gradient(wheat,white,wheat,white);
     height: 100%;
}
/*-------cabecera--------*/
.cabecera{
    overflow: hidden;
    background-color: linear-gradient(wheat,white);

}
.logo img {
    float: left;
    width: 10%;
    padding: 1%;
    margin-bottom:5px;
}
.menu {
    float: right;
    overflow: hidden;
    font-size: medium;
    margin-top: 50px;
    margin-right: 15px;
    
}

.enlaces a {
    padding: 4px;
    font-size: 2em;
    text-shadow: -1px 0 #d33288, 0 1px #d33288,
    1px 0 #d33288, 0 -1px #d33288;
    color:#5aa6bd;
    text-decoration: none;
    display: inline-block;
    color:#5aa6bd;
    text-decoration: none;
}


.enlaces a:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .8s;
}

.enlaces a:hover:after {
    width: 100%;
    background: #d33288;
}

/*------------------------Cuerpo---------------*/


.Titulo h1 {
    width: 100%;
    height: 30%;
    background-image: url(Fotos/portada1.png);
    padding-top: 200px;
    font-size: 100px;
    font-style: oblique;
    position: absolute;
    color: white;
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 white, 0 -1px #9c6b43f6;
    text-align: center;
    opacity:0.92;
}
 .Informacion{
    width: 50%;
    height: 600px;
    padding-top: 150px;
    margin-top: 600px;

    float: left;
 }
 .Informacion h2{
    font-size: 4em;
    font-style: oblique;
    margin-left: 20%;
 }
 .Informacion p{
    padding-top: 1em;
    font-size: 2em;
    margin-left: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .Informacion ul{
    padding-top: 1em;
    font-size: 2em;
    margin-left: 5%;}
 .Informacion li{
    font-size: 1em;
    margin-left: 10%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

.contenedor {
    position: relative;
    width: 50%;
    padding-top:50px;
    margin-top: 530px;
    float: right; 
    
  }
  
  .contenedor img {
    position: absolute;
    left: 150px;
    transition: opacity 1.5s ease-in-out;
    border-radius: 100px;
    width: 350px;
  }
  
  .contenedor img.top:hover {
    opacity: 0;
  }
  .contenedor1 {
    position: relative;
    width: 50%;
  
    margin-top: 400px;
    float: left; 
    
  }
  .contenedor1 img {
    position: absolute;
    left: 150px;
    transition: opacity 1.5s ease-in-out;
    border-radius: 100px;
    width: 350px;
  }
  .contenedor1 img.top:hover {
    opacity: 0;
  }
.Opinion{
    padding-top: 1em;
    margin-top:1450px;
    width: 100%;
    height: 600px;   
    background-color:whitesmoke;
    border-radius: 150px;
}
.Opinion h2{
    font-size: 4em;
    font-style: oblique;
    text-align: center;
    color:aquamarine;
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 white, 0 -1px #9c6b43f6;
 }
.Op1{
    font-size: 1.5em;
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    height: 400px;
    margin-left: 50px;
    margin-top: 50px; 
    padding: 1%;
    color:rgb(68, 64, 64);
}
.Op2{
    font-size: 1.5em;
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    height: 400px;
    margin-top:-430px;
    margin-left: 650px;
    padding: 1%;
    color:rgb(68, 64, 64);
}
.Op3{
    font-size: 1.5em;
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    height: 400px;
    margin-top: -430px;
    margin-left: 1200px;
    padding: 1%;
    color:rgb(68, 64, 64);
}


/*--------------------pie de pagina---------------*/
.footer {
    background-color: wheat;
    width: 100%;
    float: left;



}

.AtCliente {
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 10%;
    width: 10%;
    float: left;
    padding: 1%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ProductosFooter {
    padding: 1%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    width: 10%;
    float: left;
}

.AtCliente a,
.AtCliente ul,
.ProductosFooter a,
.ProductosFooter ul,
.ProductosFooter p,
.contacto a,
.contacto ul {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style: none;
    color: #214001;
    margin-left: 0.5em;
}

.ProductosFooter p {
    padding: 1%;
    margin-left: 1em;
    line-height: 1.5em;
}
.ProductosFooter img{
    width:80%;
}
.AtCliente h3,
.ProductosFooter h3,
.contacto h3 {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.AtCliente a:hover,
.ProductosFooter a:hover,
.contacto a:hover {
    text-decoration: underline;
}

.RedesSociales {
    padding: 1%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    width: 10%;
    float: left;

}

.RedesSociales li,
.RedesSociales a,
.RedesSociales h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style: none;
    margin-left: 0.5em;

}

.RedesSociales img {
    width: 55px;
}


#whatsapp,
#email {
    margin-left: 0.5em;
    width: 80px;
}

.contacto {
    padding: 1%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    width: 15%;
    float: left;
}