* {
    padding: 0px;
    margin: 0px;
}
body{
     background: linear-gradient(white, white, rgb(179, 245, 240),white,rgb(179, 245, 240),white);
     height: 100%;
}
/*-------cabecera--------*/
.cabecera{
    overflow: hidden;
    background-color: rgba(224, 255, 255, 0.555);

}
.logo img {
    float: left;
    width: 10%;
    padding: 1%;
    margin-bottom:5px;
}
.menu {
    float: right;
    overflow: hidden;
    font-size: medium;
    margin-top: 50px;
    margin-right: 15px;
  
}

.enlaces a {
    padding: 4px;
    font-size: 2em;
    color:burlywood;
    text-shadow: -1px 0 white, 0 1px black,
    1px 0  black, 0 -1px  white;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
}


.enlaces a:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .8s;
}

.enlaces a:hover:after {
    width: 100%;
    background: #35e1e1e0;
}

/*------------------------Cuerpo---------------*/


.Titulo h1 {
    width: 100%;
    height: 30%;
    background-image: url(Fotos/portada1.png);
    padding-top: 190px;
    font-style: oblique;
    position: absolute;
    text-align: center;
}
.Titulo a {
    padding: 4px;
    font-size: 4em;
    color:burlywood;
    text-shadow: -1px 0 black, 0 3px black,
    3px 0  black, 0 -1px  black;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
}


.Titulo a:after {
    content: "";
    display: block;
    margin: auto;
    height: 10px;
    width: 0px;
    transition: all .8s;
}

.Titulo a:hover:after {
    width: 100%;
    background: #35e1e1e0;
    
}
 .Informacion{
    width: 50%;
    height: 600px;
    padding-top: 100px;
    margin-top: 600px;
    background-color:aliceblue;
    border-radius: 150px;
    margin-left: 50px;
    float: left;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
 }
 .Informacion h2{
    font-size: 4em;
    font-style: oblique;
    margin-left: 20%;
    color:burlywood;
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black;
 }
 .Informacion p{
    padding-top: 1em;
    font-size: 2em;
    margin-left: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:grey;
 }
 .Informacion ul{
    padding-top: 1em;
    font-size: 2em;
    margin-left: 5%;}
 .Informacion li{
    font-size: 1em;
    margin-left: 10%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:gray;
 }

.contenedor {
    position: relative;
    width: 25%;
    margin-top: 500px;
    margin-left: 100px;
    float:left; 
}
  
  .contenedor img {
    position: absolute;
    left: 150px;
    transition: opacity 1.5s ease-in-out;
    border-radius: 100px;
    width: 350px;
  }
  
  .contenedor img.top:hover {
    opacity: 0;
  }
  .contenedor1 {
    position: relative;
    width: 25%;
    margin-left: 250px;
    margin-top: 430px;
    float: left; 
    
  }
  .contenedor1 img {
    position: absolute;
    transition: opacity 1.5s ease-in-out;
    border-radius: 100px;
    width: 350px;
   
  }
  .contenedor1 img.top:hover {
    opacity: 0;
  }
.Opinion{
    padding-top: 1em;
    margin-top:1450px;
    width: 100%;
    height: 600px;   
    background-color:aliceblue;
    border-radius: 150px;
    box-shadow: inset 0 -3em 4em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.Opinion h2{
    font-size: 4em;
    font-style: oblique;
    text-align: center;
    color:burlywood;
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black;
 }
.Op1{
    font-size: 1.5em;
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    height: 400px;
    margin-left: 50px;
    margin-top: 50px; 
    padding: 1%;
    color:rgb(68, 64, 64);
}
.Op2{
    font-size: 1.5em;
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    height: 400px;
    margin-top:-430px;
    margin-left: 650px;
    padding: 1%;
    color:rgb(68, 64, 64);
}
.Op3{
    font-size: 1.5em;
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    height: 400px;
    margin-top: -430px;
    margin-left: 1200px;
    padding: 1%;
    color:rgb(68, 64, 64);
}


/*--------------------pie de pagina---------------*/
.footer {
    background-color:rgba(224, 255, 255, 0.984);
    width: 100%;
    float: left;
    margin-top: 50px;



}

.AtCliente {
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 10%;
    width: 10%;
    float: left;
    padding: 1%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ProductosFooter {
    padding: 1%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    width: 10%;
    float: left;
}

.AtCliente a,
.AtCliente ul,
.ProductosFooter a,
.ProductosFooter ul,
.ProductosFooter p,
.contacto a,
.contacto ul {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style: none;
    color: #214001;
    margin-left: 0.5em;
}

.ProductosFooter p {
    padding: 1%;
    margin-left: 1em;
    line-height: 1.5em;
}
.ProductosFooter img{
    width:80%;
}
.AtCliente h3,
.ProductosFooter h3,
.contacto h3 {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.AtCliente a:hover,
.ProductosFooter a:hover,
.contacto a:hover {
    text-decoration: underline;
}

.RedesSociales {
    padding: 1%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    width: 10%;
    float: left;

}

.RedesSociales li,
.RedesSociales a,
.RedesSociales h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style: none;
    margin-left: 0.5em;

}

.RedesSociales img {
    width: 55px;
}


#whatsapp,
#email {
    margin-left: 0.5em;
    width: 80px;
}

.contacto {
    padding: 1%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    width: 15%;
    float: left;
}